* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 18px;
  color: #005b5c;
  background-image: url(../../images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 740px;
  min-height: calc(100vh - 150px);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to right, #cfdef385, #e0eafc85);
}
