.form {
  border: 1px solid grey;
  padding-left: 20px;
  padding-bottom: 20px;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
}

.add {
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(214, 214, 214);
}
