.container {
  min-height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: fantasy;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  letter-spacing: 5px;
}
