* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 18px;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* background: #e0eafc; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #6ffffa,
    #bafffd
  ); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-image: url(../src/services/jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* background-position: top; */
}
